<div class="container">
  <h1>Este es el componente Labs</h1>
  <h2>{{welcome}}</h2>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>La suma de 3+3 es {{ 3 + 3 }}</p>
  <p>¡Hola! Soy: {{ name() }}</p>
  <p>Y tengo {{ edad }} años de edad</p>


  <hr />

  <!-- [Clase 5 Property Binding] -->
  <img [src]="img" alt="">
  <input type="number" [value]="person().edad">
  <button [disabled]="disabled">Click me</button>
  <!-- Con los corchetes '[]' se hacen dinamicas las propiedades, el = busca el valor en el typescript del archivo -->

  <p>Objeto <b>person</b>: {{person().name}} edad: {{person().edad}}</p>

  <!-- [Clase 6 Event binding click y double click] -->

  <hr />

  <button (click)="clickHandler()">¡Clickeame esta! :D</button>
  <br>
  <button (dblclick)="clickHandler()">¡Clickeame 2 veces esta! :D</button>
  <p>(change)</p>
  <input type="number" [value]="person().edad" (change)="changeHandler($event)">
  <!-- Recordar colocar () al final del "metodo" clickHandler -->

  <!-- [Clase 7 Event binding keydown] -->
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <!-- El input tipo texto con (keydown) manejara el evento al presionar cualquier tecla -->
  <!-- En cambio con (change) sera al abandonar el cuadro o al darle enter -->

  <!-- Tambien se le pueden colocar filtrados por alguna tecla en especifico, ejemplo -->
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()"> 
  <!-- si se hace un shift + t, se ejecutara el metodo clickHandler -->

  <hr />
  <!-- [Clase 9] Signals -->
  <h2>Signals :D</h2>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{name()}}</p>

  <hr />
  <!-- [Clase 10] Directivas de Control -->
  <ul>
    <p>total: {{taskList().length}}</p>
    <li *ngFor="let tarea of taskList(); index as i">
      {{i}} {{tarea}}
    </li>
  </ul>

  <hr/>
  <!-- [Clase 14] NgIf -->
   <div *ngIf="1 + 1 === 2 "> 
    Este texto aparece si 1+1=2
  </div>

    <div *ngIf="1+1 !== 2"> 
      Este texto aparece si 1+1!=2
    </div>

    <div *ngIf="person().name ==='AnthoFu'">
      Hola, soy AnthoFu, el actual desarrollador de este proyecto.
    </div>

    <div *ngIf="person().name !=='AnthoFu'">
      ¡No soy AnthoFu! 
    </div>

    <div *ngIf="person().name === 'AnthoFu' && person().edad > 18; else elseBlock">
      <p>¡Hola! Soy {{person().name}} y soy mayor de edad, tengo <strong>{{person().edad}}</strong> años.</p>
    </div>

    <input type="number" [value]="person().edad" (change)="changeEdad($event)">

    <ng-template #elseBlock>
      ¡Hola! Soy AnthoFu, pero no soy mayor de 18 años.
    </ng-template>
    


    <!-- [Clase 15] NgSwitch y NgSwitchDefault -->
    <hr/>
    <div [ngSwitch]="person().name">
      <p *ngSwitchCase="'adriana'">
        Yo soy Adriana
      </p>
      <p *ngSwitchCase="'jonathan'">
        Yo soy Jonathan
      </p>
      <p *ngSwitchCase="'aldryn'">
        Yo soy Aldryn
      </p>
      <p *ngSwitchCase="'alberto'">
        Yo soy Alberto
      </p>
      <p *ngSwitchDefault>
        Yo no soy Adriana, Jonathan, Aldryn o Alberto
      </p>
    </div>
    <input type="text" [value]="person().name" (change)="changeName($event)">

    <!-- [Clase 16] Controlando un input -->
      <hr/>
      <input type="color" [formControl]="colorControl">
      <p>Color: {{colorControl.value }} </p>
      <!-- [Clase 18] Estilos al modo Angular -->
      <svg>
        <g>
          <rect x="0" y="0" height="100" width="100" [attr.fill]="colorControl.value"/>
        </g>
      </svg>
      <hr/>

      <p>Hola, {{person().name}} ¡Cambia el numero de aca abajo para cambiar el ancho de su estilo!</p>
      <input type="number" [formControl]="widthControl">
      <span class="box" [style.width.px]="widthControl.value"></span>

      <hr/>
      <!-- [Clase 19] Clases en angular -->
      <p>
        <input type="text" [formControl]="colorControl">
        <span class="message-error">Nombre invalido</span>
      </p>
      <p>
        <input type="text" [formControl]="nameControl">
        <span class="message-error" [class.show]="nameControl.invalid && nameControl.touched">Nombre invalido</span>
      </p>
</div>